blinker==1.5
certifi==2022.12.7
Click==7.0
Flask==1.1.1
Flask-Mail==0.9.1
gunicorn==20.1.0
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.15.1
Jinja2==2.10.3
MarkupSafe==1.1.1
parso==0.8.3
python-dateutil==2.8.2
sib-api-v3-sdk==7.5.0
six==1.16.0
urllib3==1.26.13
Werkzeug==0.16.0
